body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
    font-family: "Changa", sans-serif;
  
  }

  

  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    color: #d32f2f;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Changa", sans-serif;
  }
  
  .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Changa", sans-serif;
  }
  
  .gif_container img {
    width: 360px;
      height: 320px;
      border-radius: 15px;
      margin-top: 20px;
      padding: auto;
  }


.con_2{
  display: inline;
  width: 380px;
  padding: auto;
    height: 320px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 20px;

}